import { createSignal } from "solid-js";

function App() {
    const [count, setCount] = createSignal(0);
    return (
        <>
            <h2>Count: {count()}</h2>
            <button onClick={() => setCount(c => c + 1)}>
                Clique !
            </button>
        </>
    );
}

export default App;
