import {hashIntegration, Router, Routes, useRoutes} from "@solidjs/router";
import {lazy} from "solid-js";

const routes = [{
    path: "/",
    component: lazy(() => import("./home"))
}, {
    path: "/page",
    component: lazy(() => import("./page"))
}]

function App() {
    const Routes = useRoutes(routes);
    console.log("app")
    return (
        <Router source={hashIntegration()}>
            <Routes/>
        </Router>
    )
}

export default App;
